<title>Online Booking</title>
<!--{% extends 'layout.html' %}-->
{% load static %}
{% block body %}




<h1 class="text-center  mt-3">Equipment Booking</h1>

<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5 ">
    <form method="post" action="{% url 'booking' %}" class="me-2 ms-2" required>
        {% csrf_token %}

        <!--input service-->
        <div>
            <h3 class="">Select The Equipment:</h3>
            <select class="form-select fs-3" name="service">
                {% for item in equipment %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor%}
            </select>
        </div>
        <!--input day-->
        <div class="mt-3">
            <h3 class="">Select Day:</h3>
            <select class="form-select fs-3" name="day">
                {% for validateWeekday in validateWeekdays %}
                <option value="{{validateWeekday}}">{{validateWeekday}}</option>
                {% endfor %}
            </select>
        </div>
        <br/>
        <button type="submit" class="btn btn-primary text-white">Continue</button>
        </div>
    </form>
</div>


<!---===== Equipment Cards For Equipment Categories =====-->
<h1>Equipment List</h1>
<hr class="divider">
<div class='card-grid'
style="display:flex;flex-wrap:wrap;flex-direction:row;justify-content:space-between;margin-top:1rem;margin-bottom:2rem;">

{% for item in equipment %}
{#  Single Card Template:#}
    <div class="card" style="width:calc(25% - 2rem);margin-bottom: 1rem;">
    <img src="{{ item.image }}"class="card-img-top" alt="{{ item.name }}">
    <!--
    <img src="static{{ equipment_images }}/{{ item.image }}" class="card-img-top" alt="{{ item.name }}">-->
    <div class="card-body" style="display:flex;flex-direction:column;align-items:center;margin-bottom:0.5rem;">
        <div style="display: flex;flex-direction:column;align-items:center;justify-content:space-between;margin-bottom:1rem;">
        <h5 class="card-title" style="margin-right:auto;margin-bottom:0.5rem;">{{ item.name }}</h5>
        {% if item.availability %}
            {#  Colored cirlce:#}
            <div style="
            background: green;
            width: fit-content;
            height: fit-content;
            border-radius: 2rem;
            box-shadow: 0 0.1em 0.5em grey;
            align-items:center;
            "><p style="display:flex;justify-content:center;align-items:center;margin:0.3rem;padding:0.5rem;color:white;">Available</p></div>
            <!--<div class='available'><p>Available</p></div>-->
        {% else %}
            {#  Colored cirlce:#}
            <div style="
            background: red;
            width: fit-content;
            height: fit-content;
            border-radius: 2rem;
            box-shadow:0 0.1em 0.5em grey;
            align-items:center;
            "><p style="display:flex;justify-content:center;align-items:center;margin:0.3rem;padding:0.5rem;color:white;">Unavailable</p></div>
        {% endif %}
        </div>
        <p class="card-text" style="margin-bottom:1rem;margin-top:1rem;">{{ item.description }}</p>
        <div style="display:flex;flex-direction:row;justify-content:flex-end;">
        <a href="equipment_detail" class="btn btn-primary">View More</a>
        <a href="equipment_detail" class="btn btn-primary">Book</a>
        </div>
    </div>
    </div>
{% endfor %}
</div>

{% endblock %}