{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous" defer></script>


    {% block head %}
    {% endblock %}
  </head>
  <body>
    <header>
        <nav class="navbar navbar-white navbar-expand-lg shadow-sm" style="background-color:rgb(255, 255, 255, 0.7);">
            <div class="container-fluid">
                <a class="navbar-brand  cHover cGreen fs-2" href="{% url 'index' %}">
                    <img src="{% static 'media/site-logo_1.png' %}" alt='' width="50" height="50"
                    class="d-inline-block align-top">
                    UT Makerspace
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0  fs-5" style="padding:5px;">
                        <li class="nav-item">
                            <a class="nav-link active cHover" aria-current="page" href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active cHover" href="{% url 'booking' %}">Reservations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active cHover" href="#contact">Contact Admin</a>
                        </li>     
                        {% if user.is_authenticated %}
                        <!--Clinic Staff Link-->
                        <li class="nav-item">
                            <a class="nav-link active cHover" href="{% url 'staffPanel' %}">Staff Panel</a>
                        </li> 
                        <li class="nav-item dropdown me-3 fs-5">
                            <a class="nav-link active dropdown-toggle cHover" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              User
                            </a>
                            <ul class="dropdown-menu  border zNav">
                              <li><a class="dropdown-item" href="{% url 'userPanel' %}">User Panel</a></li>
                              <li><hr class=""></li>
                              <li><a class="dropdown-item" href="{% url 'logout' %}">Sign Out</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li class="nav-item me-3">
                            <a class="nav-link active cHover" href="{% url 'register' %}">Sign in</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        

        <!--Messages Start-->
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success  alert-dismissible fade show text-center " role="alert">
                <h3 class="display-3">{{ message }}</h3>
                <button type="button" class="btn-close fs-1 position-absolute top-50 start-0 translate-middle-y" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% endif %}
        <!--Messages End-->

    </header>
    
    {% block body %}
    {% endblock %}
    <!-- ==== EMAIL SIGNUP FORM ==== -->
    <!--
    <div class="email-form">
        <h1>Get Informed When Equipment Is Available</h1>
        <form>
        <hr class="divider">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <!--<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
<!--          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>-->
    
    <!-- ==== FOOTER ==== -->
    <footer class="bg-dark text-white">
        <div class="container-fluid pt-3">
            <section class="">
                <div class="container text-center text-md-start mt-5">
                  <!-- Grid row -->
                  <div class="row mt-3 text-center">
            
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h5 class="text-uppercase fw-bold mb-4 textGradient" id="contact">
                            Contact Us
                        </h5>
                        <p>
                            <a href="tel: 12345678" class=""><span class="cBlue">Tel: 12345678</span></a>
                        </p>
                        <p>
                            <a class="uLine cHover" href="{% url 'booking' %}" >Online Booking</a>
                        </p>
                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#emergencyModal">Emergency</button>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="emergencyModal" tabindex="-1" aria-labelledby="emergencyModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="emergencyModalLabel">Emergency Contact</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            <h1 style="color:black;">Please contact our administrator at:</h1>
                            <p><a href="tel:555-555-5555" class="text-danger">555-555-5555</a></p>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!-- Grid column -->
                    
                    <!-- Service links Regular -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h5 class="text-uppercase fw-bold mb-4 textGradient">
                            What We Offer
                        </h5>
                        <!-- Lists Offered Services / Equipment Below-->
                        <p>
                            <a href="#">Equipment Reservations</a>
                        </p>
                    </div>
                    <!-- Service links Regular -->
                  </div>
                  <!-- Grid row -->
                </div>
              </section>
        </div>
    </footer>
  </body>
</html>